@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
   margin: 0;
}
.container{
    background-image: url(../assets/images/sunset.jpg_large);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content{
    font-family: poppins;
    background-color: rgb(248, 239, 239, 0.75);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
span{
    font-size: 20px;
}
.search-container {
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
}

.search-input {
    width: 100%;
    padding:  0.7rem 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #888;
}
.places-grid{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}
.place-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.place-name{
    text-align: center;
    cursor: pointer;
}
.place-image{
    width: 3rem;
    height: 3rem;
    object-fit: cover; 
    border-radius: 50%; 
}
.trips-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancel-selection-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cancel-selection-button:hover {
    background-color: #d32f2f;
  }
  
.trips-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.trip{
    cursor: pointer; 
}
.trips-grid img{
    width: 100%;
    border-radius: 1rem;
}
.upload-form{
    display: flex;
    flex-direction: column;
}
.upload-form input, .upload-form button {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}